<!DOCTYPE html>
<html ng-app="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FORM PAY</title>
    <link rel="stylesheet" href="css/stylec.css" type="text/css">
  </head>
  <body>
  <div class="container">
    <h1 style="margin:10px;">PAYMENT</h1>
    <form class="" action="index.html" method="post">
      <input required class="input-form laf" type="text" name="" value="" placeholder="Nama">
      <input required class="input-form laf" type="number" name="" value="" placeholder="08..">
      <input required class="input-form-number laf" type="number" name="" value="1" placeholder="Jumlah" ng-model="jumlah">
      <input required class="input-form-number laf" type="number" name="" value="20000" ng-model="harga">
      <input disabled required class="input-form-value" type="number" name="" value="{{jumlah*harga}}" placeholder="Hasil" ng-model="Hasil">
      <textarea class="input-form" cols="5" rows="5" name="comment" placeholder="Catatan" required>
      </textarea>


      <div style="overflow-x:auto;">
        <label>Pilih Metode Pembayaran</label>
        <table borde=0 cellpadding="10">
          <tr>
            <th><input type="checkbox"  value=""><img src="img/logobni.png" width="60px" height="20px"></th>
            <th><input type="checkbox"  value=""><img src="img/logobca.jpeg" width="60px" height="20px"></th>
            <th><input type="checkbox"  value=""><img src="img/BRI.png" width="60px" height="25px"></th>
            <th><input type="checkbox"  value=""><img src="img/bankbjb.png" width="60px" height="30px"></th>
            <th><input type="checkbox"  value=""><img src="img/logobankdki.png" width="60px" height="25px"></th>
          </tr>
          <tr>
            <th><input type="checkbox"  value=""><img src="img/visa.png" width="60px" height="30px"></th>
            <th><input type="checkbox"  value=""><img src="img/masterc.png" width="60px" height="30px"></th>
            <th><input type="checkbox"  value=""><img src="img/paypal.png" width="60px" height="20px"></th>
            <th><input type="checkbox"  value=""><img src="img/alfa.jpeg" width="70px" height="50px"></th>
            <th><input type="checkbox"  value=""><img src="img/indomaret.jpg" width="60px" height="20px"></th>
            <th><input type="checkbox"  value=""><img src="img/GOPAY.png" width="65px" height="40px"></th>
          </tr>
        </table>
      </div>
  </div>
      <button class="btn-form-pay">Pay</button>
      <button class="btn-form-change" id="myBtn">Batal</button>
    </form>
  </div>


  <footer>
    <p style="color:gray; margin-top:10px; margin-left:10px;">Khairunnazhifah</p>
  </footer>


  </body>
</html>