.body{
    background: #f0f0f0;
    margin: 30%;
    padding: 10px;
    color: burlywood;
    font-family: calibri;
}
.input:invalid{
    background: bisque;
}
.container{
    background: wheat;
    width: 40%;
    height: auto;
    padding: 15%;
    position:absolute;
    left: 30%;
    top: 1%;
    border-radius: 5px;
}
.input-form{
    width: 95%;
    background: #f9f9f9;
    margin:0.9%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.input-form-number{
    width:12%;
    background: #f9f9f9;
    margin: 2%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.input-form-value{
    width:n57.5%;
    background: #f9f9f9;
    margin: 1%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.btn-form-change{
    color:azure;
    background: #ff6868;
    font-weight: Bold;
    border: none;
    border-radius:50px;
    padding:15px;
    margin:10px;
    width: 35%;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.btn-form-pay{
    color:wheat;
    background: black;
    font-weight: bold;
    border:none;
    border-radius:50px;
    padding:15px;
    margin:10px;
    width: 35%;
    float: left;
    cursor:pointer;
}
.btn-form-pay:hover{
    background: #66bef9;
}
.btn-form-change:hover{
    background: #fc7979;
}
table{
    margin-top: 5px;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}
th, td{
    background: white;
}
th:hover {
    box-shadow:2px 0px 10px 0px #f4f4f4;
}
th{
    border: 1px solid #f4f4f4;
}
@media only screen and (max-width: 700px) {
    .container{
        width:80%;
        left:6%;
    }
    .input-fore-value{
        width:49%;
    }
}
