.body {
    margin: 5px;
    padding: 10px;
    background: url(../img/download.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    
    }
    .input {
        position: fixed;
        top: 50%;
        left: 600px;
        transform: translate(-30%, -50%);
        background: rgba(21, 26, 24, 0.9);
        padding: 50px;
        width:120px;
        box-shadow:0px 0px 25px 10px black;
        border-radius: 15px;
    }
    
    .input h1 {
        text-align: center;
        color: white;
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: 3px;
        padding-top: 0;
        margin-top: -20px;
    }
    
    .box-input {
        display: -webkit-inline-flexs;
        justify-content: space-between;
        margin: 5px;
        border-bottom: 2px solid white;
        padding: 8px 0;
    }
    
    .box-input i {
        font-size: 23px;
        color: wheat;
        padding: 5px 0;
    }
    
    .box-input input{
        width: 85%;
        padding: 3px 0;
        background: none;
        border: none;
        outline: none;
        color: wheat;
        font-size: 14px;
    }
    
    .box-input input::placeholder {
        color: wheat;
    }
    
    .btn-input .box-input input:hover {
        background: rgba(10, 10, 10, s 0.5);
    }
    
    .btn-input {
        margin-left: 10px;
        margin-bottom: 10px;
        background: none;
        border: 1px solid wheat;
        width: 92.5%;
        padding: 10px;
        color: wheat;
        font-size: 14px;
        letter-spacing: 3px;
        cursor: pointer;
        transition: all .2s;
        border-radius: 10px;
    }
    
    .btn-input:hover {
        background: black;
    }
    
    .bottom {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: -20px;
    }
    
    .bottom p {
        color: wheat;
        font-size: 15px;
        text-decoration: none;
    }
    
    .bottom a {
        color: lightgoldenrodyellow;
        font-size: 15px;
        text-decoration: none;
    }
    
    .bottom-a:hover {
        text-decoration: underline;
    }